body{
    background-color: #282828;
    overflow: hidden;
}
.SnakeGridLayout{
    grid-template-columns: auto auto;
    display: grid;
    justify-content: center;
}
.GameContainer{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;

}
.GameArea{
    position: absolute;
    background-color: #f1f1f1;
    width: 1125px;
    height: 750px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Food{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: tomato;

}
.Snake{
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;

    background-image: linear-gradient(to right, blue, green);
}
.header{
    color: gray;
    z-index: 10;

}
.SnakeScore{
    color: grey;
    z-index: 10;
}
.StartButton{
    position: absolute;
    height: 100px;
    width: 200px;
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    border-radius: 20px;
    opacity: 1;
}
.StartButton:hover{
    background-color: #4e4e4e;
    cursor: pointer;
}
.SnakeLose{
    position: absolute;
    display: none;
    top: 15%;
    height: 100px;
    width: 200px;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 20px;
    opacity: 1;
}
@media(max-width: 1550px){
    .GameArea{
        width: 900px;
    }
}
@media(max-height: 850px){
    .GameArea{
        height: 600px;
    }
}
@media(max-width: 900px){
    .GameArea{
        width: 720px;
    }
}
@media(max-height: 600px){
    .GameArea{
        height: 480px;
    }
}
@media(max-width: 720px){
    .GameArea{
        width: 585px;
    }
}